.orders {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.order-list {
  max-width: 300px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.order-list-header {
  background-color: red;
  padding: 15px 10px;
  color: white;
}
.header-bg-new {
  background-color: #1074f4;
}

.header-bg-preparation {
  background-color: #ffc41c;
}

.header-bg-ready {
  background-color: #21c348;
}

.header-bg-shipping {
  background-color: #20c49c;
}

.order-list__item {
  padding: 10px;
  background-color: #eeeeee;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.order-list__group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.order-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.order-card__header {
  padding: 7px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.order-card__title {
  font-weight: 700;
  font-size: 20px;
}

.order-card__info {
  display: flex;
  align-items: center;
  gap: 4px;
}

.order-card__price {
  color: #6e8bb7;
  text-decoration: none;
}

.order-card__payment {
  display: block;
  background-image: url("https://birja.soff.uz/images/payme-logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
}

.order-card__payment--click {
  background-image: url("https://birja.soff.uz/images/click-logo.png");
}

.order-card-list {
  display: flex;
  flex-direction: column;
  padding: 7px 10px;
  gap: 5px;
}

.order-card-list__item {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  font-weight: 500;
}

.order-card-sub-list {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}

.order-card-sub-list__item {
  font-weight: 400;
  color: gray;
}

.order-card__time {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: flex-end;
  padding: 0 10px 7px;
  color: #6e8bb7;
}

.order-card__bottom {
  border-top: 1px solid #ccc;
  padding: 7px 10px;
  display: flex;
  gap: 10px;
}

.widget-grid__drag-icon {
  transform: rotateZ(90deg);
  margin: 4px auto 0;
}
