.orders {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.order-list {
  max-width: 300px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.order-list-header {
  background-color: red;
  padding: 10px;
  color: white;
}
.header-bg-new {
  background-color: blue;
}

.header-bg-preparation {
  background-color: orange;
}

.header-bg-ready {
  background-color: green;
}

.header-bg-shipping {
  background-color: cadetblue;
}

.order-list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #eeeeee;
}
