.header {
    display: flex;
    align-items: center;
    background-color: var(--g-color-scroll-track);
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.header-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 15px;
}